<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Nand" data-toc-modified-id="Nand-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Nand</a></span></li><li><span><a href="#Not-(reverse-bit)" data-toc-modified-id="Not-(reverse-bit)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Not (reverse bit)</a></span><ul class="toc-item"><li><span><a href="#Swap-columns" data-toc-modified-id="Swap-columns-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Swap columns</a></span></li></ul></li><li><span><a href="#And-(restrict-bits)" data-toc-modified-id="And-(restrict-bits)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>And (restrict bits)</a></span><ul class="toc-item"><li><span><a href="#Demonstration" data-toc-modified-id="Demonstration-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Demonstration</a></span></li></ul></li><li><span><a href="#Or-(union-bits)" data-toc-modified-id="Or-(union-bits)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Or (union bits)</a></span><ul class="toc-item"><li><span><a href="#Demonstration" data-toc-modified-id="Demonstration-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Demonstration</a></span></li></ul></li></ul></div>

In [1]:
# !pip install --upgrade pip setuptools wheel
# !pip install pyeda

In [91]:
from itertools import product
import pandas as pd
from pyeda.inter import *

a, b, c = map(exprvar, 'abc')


def truth_table_to_pandas(table):
    table = expr2truthtable(table)
    df = pd.DataFrame()
    for variables, result in table.iter_relation():
        variables["result"] = result
        variables = {k: [v] for (k, v) in variables.items()}
        df = pd.concat([df, pd.DataFrame(variables)], ignore_index=True)
    return df


def dict_to_truthtable(d):
    inputs = list(d.keys())[0]
    n_vars = len(inputs)
    variables = exprvars('', n_vars)
    output_vals = [d[tuple(inputs)] for inputs in product(*[[0, 1] for _ in range(n_vars)])]
    return truthtable(variables, output_vals)


def p(obj):
    print(obj)
    
def pt(table):
    # print(expr2truthtable(table))
    print(truth_table_to_pandas(table).T.to_string(header=False))
    print()

## Nand

In [92]:
NAND_ = Nand(a, b)
pt(NAND_)

        0  1  2  3
a       0  1  0  1
b       0  0  1  1
result  1  1  1  0

In [93]:
NAND_.restrict({a:1, b:0})

1

## Not (reverse bit)

In [117]:
NOT_1, NOT_2 = Not(a), ~a
pt(NOT_)
pt(~a)
Not(a).equivalent(~a)

        0  1
a       0  1
result  1  0

        0  1
a       0  1
result  1  0

True

### Swap columns

In [106]:
table = truth_table_to_pandas(And(a, b))
table["And(~a, b)"] = truth_table_to_pandas(And(~a, b))["result"]
table["And(a, ~b)"] = truth_table_to_pandas(And(a, ~b))["result"]
table["And(~a, ~b)"] = truth_table_to_pandas(And(~a, ~b))["result"]
table.T

             0  1  2  3
a            0  1  0  1
b            0  0  1  1
result       0  0  0  1
And(~a, b)   0  0  1  0
And(a, ~b)   0  1  0  0
And(~a, ~b)  1  0  0  0

In [107]:
table = truth_table_to_pandas(Xor(a, b))
table["Xor(~a, b)"] = truth_table_to_pandas(Xor(~a, b))["result"]
table["Xor(a, ~b)"] = truth_table_to_pandas(Xor(a, ~b))["result"]
table["Xor(~a, ~b)"] = truth_table_to_pandas(Xor(~a, ~b))["result"]
table.T

             0  1  2  3
a            0  1  0  1
b            0  0  1  1
result       0  1  1  0
Xor(~a, b)   1  0  0  1
Xor(a, ~b)   1  0  0  1
Xor(~a, ~b)  0  1  1  0

## And (restrict bits)

In [97]:
AND_ = And(a, b)
pt(AND_)

        0  1  2  3
a       0  1  0  1
b       0  0  1  1
result  0  0  0  1

### Demonstration

In [125]:
r = Nand(a, b); pt(r)
r = Not(Nand(a, b)); pt(r)
Not(Nand(a, b)).equivalent(And(a, b))

        0  1  2  3
a       0  1  0  1
b       0  0  1  1
result  1  1  1  0

        0  1  2  3
a       0  1  0  1
b       0  0  1  1
result  0  0  0  1

True

## Or (union bits)

In [99]:
OR_ = Or(a, b)
pt(OR_)

        0  1  2  3
a       0  1  0  1
b       0  0  1  1
result  0  1  1  1

### Demonstration

In [120]:
r = And(a, b); pt(r)
r = And(~a, ~b); pt(r)
r = ~And(~a, ~b); pt(r)
(~And(~a, ~b)).equivalent(Or(a, b))

        0  1  2  3
a       0  1  0  1
b       0  0  1  1
result  0  0  0  1

        0  1  2  3
a       0  1  0  1
b       0  0  1  1
result  1  0  0  0

        0  1  2  3
a       0  1  0  1
b       0  0  1  1
result  0  1  1  1

True