# Le module Pandas.
## Un module qui permet de facilement analyser des tableaux 2D (dataframe).

In [1281]:
import pandas as pd
from pandas import DataFrame, Series
# Each column in a DataFrame is a Series
# A DataFrame is a 2-dimensional data structure that can store data of different types in columns.

In [1282]:
data_frame_A: DataFrame = pd.DataFrame({
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
            "aaaaaaa",
            "zzzzzzz",
        ],
        "Age": [22, 35, 58, 12, 87],
        "Sex": ["male", "male", "female", "female", "male"],
    }
)
type(data_frame_A)

pandas.core.frame.DataFrame

In [1283]:
_:DataFrame = data_frame_A.head(2)
_

                       Name  Age   Sex
0   Braund, Mr. Owen Harris   22  male
1  Allen, Mr. William Henry   35  male

In [1284]:
data_frame_A[:2]

                       Name  Age   Sex
0   Braund, Mr. Owen Harris   22  male
1  Allen, Mr. William Henry   35  male

In [1285]:
_:DataFrame = data_frame_A.tail(2)
_

      Name  Age     Sex
3  aaaaaaa   12  female
4  zzzzzzz   87    male

In [1286]:
data_frame_A[-2:]

      Name  Age     Sex
3  aaaaaaa   12  female
4  zzzzzzz   87    male

In [1287]:
_:Series = data_frame_A.dtypes
_

Name    object
Age      int64
Sex     object
dtype: object

In [1288]:
_:DataFrame = data_frame_A.describe()
_

            Age
count   5.00000
mean   42.80000
std    30.11146
min    12.00000
25%    22.00000
50%    35.00000
75%    58.00000
max    87.00000

In [1289]:
_:Series = data_frame_A["Age"]
_

0    22
1    35
2    58
3    12
4    87
Name: Age, dtype: int64

In [1290]:
_: int = data_frame_A["Age"][0]
_

22

In [1291]:
_:Series = data_frame_A["Age"].describe()
_

count     5.00000
mean     42.80000
std      30.11146
min      12.00000
25%      22.00000
50%      35.00000
75%      58.00000
max      87.00000
Name: Age, dtype: float64

In [1292]:
_: Series = pd.Series(("a", "b", "c", "d", "e")).describe()
_

count     5
unique    5
top       a
freq      1
dtype: object

In [1293]:
series_B: Series = pd.Series((0, 2, 4, 6, 8, 10), name="pair")
series_B

0     0
1     2
2     4
3     6
4     8
5    10
Name: pair, dtype: int64

In [1294]:
series_B.min()

0

In [1295]:
series_B.max()

10

In [1296]:
pd.DataFrame([[1, 2]] * 3, columns=['A', 'B'])

   A  B
0  1  2
1  1  2
2  1  2

In [1297]:
# workbook = load_workbook(filename="Neptune.xlsm")
# worksheet_donnees: worksheet = workbook["Données"]
# lines = worksheet_donnees.values
# headers: list = next(lines)
# lines = list(lines)
# first_col = [values[0] for values in lines]
# neptune_df = DataFrame(lines, index=first_col, columns=headers)
# neptune_df
neptune_df = pd.read_excel("Neptune.xlsm", sheet_name="Données")
neptune_df_5 = neptune_df.head()
neptune_df_5

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
0,2021-05-28 22:27:08,CAFM/L-01-0448/K,1,NaN,K,NaN,DIFFUSE,CAFM,2021-01-05 09:08:00,LISTE DES GAMMES VALIDEES RENE 65 DMD0448-20
1,2021-05-28 22:27:11,CV-0448-01/K,2,NaN,K,NaN,DIFFUSE,CV,2021-01-05 09:12:00,APPROVED METHODS OF MANUFACTURE ATI MONROE REN...
2,2021-04-19 15:51:06,485-923-600-0/B,3,NaN,B,NaN,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM
3,2021-04-26 08:03:23,DT59-21/C,4,NaN,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,2021-04-26 08:03:23,DT59-15/I,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...

In [1298]:
neptune_df_5["Date import"]

0   2021-05-28 22:27:08
1   2021-05-28 22:27:11
2   2021-04-19 15:51:06
3   2021-04-26 08:03:23
4   2021-04-26 08:03:23
Name: Date import, dtype: datetime64[ns]

In [1299]:
neptune_df_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date import  5 non-null      datetime64[ns]
 1   Référence    5 non-null      object
 2   ID           5 non-null      int64
 3   Pg AMN       0 non-null      float64
 4   Indice       5 non-null      object
 5   Pg Doc       0 non-null      float64
 6   Etat Doc.    5 non-null      object
 7   Famille      5 non-null      object
 8   Date         5 non-null      datetime64[ns]
 9   Titre        5 non-null      object
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 528.0+ bytes

In [1300]:
neptune_df_5.shape    # 5 lignes 10 colonnes

(5, 10)

In [1301]:
series_B.shape

(6,)

In [1302]:
neptune_df_5[["ID", "Date import", "Référence", "Titre"]]

,ID,Date import,Référence,Titre
0,1,2021-05-28 22:27:08,CAFM/L-01-0448/K,LISTE DES GAMMES VALIDEES RENE 65 DMD0448-20
1,2,2021-05-28 22:27:11,CV-0448-01/K,APPROVED METHODS OF MANUFACTURE ATI MONROE REN...
2,3,2021-04-19 15:51:06,485-923-600-0/B,Éprouvette suivi fusion FA LBM
3,4,2021-04-26 08:03:23,DT59-21/C,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,5,2021-04-26 08:03:23,DT59-15/I,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...

In [1303]:
neptune_df_5["ID"] + 10

0    11
1    12
2    13
3    14
4    15
Name: ID, dtype: int64

In [1304]:
neptune_df_5["ID"] - 10

0   -9
1   -8
2   -7
3   -6
4   -5
Name: ID, dtype: int64

In [1305]:
neptune_df_5["ID"] * 10

0    10
1    20
2    30
3    40
4    50
Name: ID, dtype: int64

In [1306]:
neptune_df_5["ID"] / 10

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
Name: ID, dtype: float64

In [1307]:
neptune_df_5["ID"] < 3

0     True
1     True
2    False
3    False
4    False
Name: ID, dtype: bool

In [1308]:
neptune_df_5[["ID", "Date import", "Référence", "Titre"]][neptune_df_5["ID"] < 3]

,ID,Date import,Référence,Titre
0,1,2021-05-28 22:27:08,CAFM/L-01-0448/K,LISTE DES GAMMES VALIDEES RENE 65 DMD0448-20
1,2,2021-05-28 22:27:11,CV-0448-01/K,APPROVED METHODS OF MANUFACTURE ATI MONROE REN...

In [1309]:
neptune_df_5[(neptune_df_5["ID"] == 1) | (neptune_df_5["ID"] == 4)]

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
0,2021-05-28 22:27:08,CAFM/L-01-0448/K,1,NaN,K,NaN,DIFFUSE,CAFM,2021-01-05 09:08:00,LISTE DES GAMMES VALIDEES RENE 65 DMD0448-20
3,2021-04-26 08:03:23,DT59-21/C,4,NaN,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...

In [1310]:
neptune_df[neptune_df["Référence"].str.contains("FOR")]

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
12,2021-05-28 22:42:15,FOR-0750/A,13,NaN,A,NaN,DIFFUSE,FOR,2021-01-20 09:32:00,COUPLES DE SERRAGE
13,2021-05-28 22:42:15,FOR-0751/A,14,NaN,A,NaN,DIFFUSE,FOR,2021-01-20 09:38:00,JEUX ET COTES
14,2021-05-28 22:42:15,FOR-0752/A,15,NaN,A,NaN,DIFFUSE,FOR,2021-01-20 09:41:00,NOTAS
15,2021-05-28 22:42:15,FOR-0753/A,16,NaN,A,NaN,DIFFUSE,FOR,2021-01-20 09:43:00,DESSIN COMPLEMENTAIRE - COUPLES DE SERRAGE
16,2021-05-28 22:42:15,FOR-0754/A,17,NaN,A,NaN,DIFFUSE,FOR,2021-01-20 09:44:00,DESSIN COMPLEMENTAIRE - JEUX ET COTES
17,2021-05-28 22:42:16,FOR-0755/A,18,NaN,A,NaN,DIFFUSE,FOR,2021-01-20 09:47:00,DESSIN COMPLEMENTAIRE - NOTAS

In [1311]:
neptune_df[neptune_df["Indice"].isnull()]

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
21,2021-04-20 08:26:42,222-000-142_143-0_A,22,NaN,NaN,NaN,DIFFUSE,Documents standards,2021-01-27 13:08:00,"VIS TETE CYL, 6 LOBES"
24,2021-04-19 15:51:07,DMD4201-00-1/A,25,NaN,NaN,NaN,DIFFUSE,DMD,2021-02-03 14:17:00,COMPOSITE RENFORT HYBRIDE CARBONE IM7-VERRE S2...
57,2021-04-26 08:03:23,MA-1813-15/A,58,NaN,NaN,NaN,DIFFUSE,MA,2021-03-16 09:38:00,Poudre pour élaboration par construction fusio...
60,2021-04-26 08:03:22,DMR96-003/A,61,NaN,NaN,NaN,DIFFUSE,DMR,2021-03-18 08:36:00,Torons de fibres de verre haute résistance

In [1312]:
neptune_df_5.loc[neptune_df_5["ID"] <= 5, "Référence"]

0    CAFM/L-01-0448/K
1        CV-0448-01/K
2     485-923-600-0/B
3           DT59-21/C
4           DT59-15/I
Name: Référence, dtype: object

In [1313]:
neptune_df[:2]

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
0,2021-05-28 22:27:08,CAFM/L-01-0448/K,1,NaN,K,NaN,DIFFUSE,CAFM,2021-01-05 09:08:00,LISTE DES GAMMES VALIDEES RENE 65 DMD0448-20
1,2021-05-28 22:27:11,CV-0448-01/K,2,NaN,K,NaN,DIFFUSE,CV,2021-01-05 09:12:00,APPROVED METHODS OF MANUFACTURE ATI MONROE REN...

In [1314]:
neptune_df.iloc[:2]

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
0,2021-05-28 22:27:08,CAFM/L-01-0448/K,1,NaN,K,NaN,DIFFUSE,CAFM,2021-01-05 09:08:00,LISTE DES GAMMES VALIDEES RENE 65 DMD0448-20
1,2021-05-28 22:27:11,CV-0448-01/K,2,NaN,K,NaN,DIFFUSE,CV,2021-01-05 09:12:00,APPROVED METHODS OF MANUFACTURE ATI MONROE REN...

In [1315]:
neptune_df.iloc[-2:]

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
79,2021-04-19 15:51:11,MDD03-19/A,80,NaN,A,NaN,DIFFUSE,MDD,2021-04-13 18:35:00,Exigences techniques pour articles de fournitu...
80,2021-04-26 08:03:22,DT59-10/I,81,NaN,J,NaN,DIFFUSE,DT,2021-04-14 14:02:00,TECHNIQUES DE BRANCHEMENT DES MESURES DE TEMPE...

In [1316]:
neptune_df.iloc[:, :2]

           Date import         Référence
0  2021-05-28 22:27:08  CAFM/L-01-0448/K
1  2021-05-28 22:27:11      CV-0448-01/K
2  2021-04-19 15:51:06   485-923-600-0/B
3  2021-04-26 08:03:23         DT59-21/C
4  2021-04-26 08:03:23         DT59-15/I
..                 ...               ...
76 2021-04-19 15:51:06   485-924-096-0/E
77 2021-04-26 08:03:22        DT05-89/AA
78 2021-04-26 08:03:22         DT59-02/H
79 2021-04-19 15:51:11        MDD03-19/A
80 2021-04-26 08:03:22         DT59-10/I

[81 rows x 2 columns]

In [1317]:
neptune_df.iloc[:2, :2]

          Date import         Référence
0 2021-05-28 22:27:08  CAFM/L-01-0448/K
1 2021-05-28 22:27:11      CV-0448-01/K

In [1318]:
neptune_df.iloc[:2] = "..."
neptune_df.head()

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
0,...,...,...,...,...,...,...,...,...,...
1,...,...,...,...,...,...,...,...,...,...
2,2021-04-19 15:51:06,485-923-600-0/B,3,NaN,B,NaN,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM
3,2021-04-26 08:03:23,DT59-21/C,4,NaN,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,2021-04-26 08:03:23,DT59-15/I,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...

In [1319]:
neptune_df.iloc[:,:2] = "..."
neptune_df.head()

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
0,...,...,...,...,...,...,...,...,...,...
1,...,...,...,...,...,...,...,...,...,...
2,...,...,3,NaN,B,NaN,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM
3,...,...,4,NaN,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,...,...,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...

In [1320]:
neptune_df = neptune_df.iloc[2:]
neptune_df.head()

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
2,...,...,3,NaN,B,NaN,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM
3,...,...,4,NaN,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,...,...,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...
5,...,...,6,NaN,K,NaN,DIFFUSE,CAFM,2021-01-12 14:34:00,LISTE DES GAMMES VALIDEES ML340 DMD0302-20 MAT...
6,...,...,7,NaN,K,NaN,DIFFUSE,CV,2021-01-12 14:39:00,GAMMES VALIDEES AUBERT & DUVAL LES ANCIZES ML3...

In [1321]:
neptune_df = neptune_df.iloc[:,2:]
neptune_df.head()

,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
2,3,NaN,B,NaN,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM
3,4,NaN,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...
5,6,NaN,K,NaN,DIFFUSE,CAFM,2021-01-12 14:34:00,LISTE DES GAMMES VALIDEES ML340 DMD0302-20 MAT...
6,7,NaN,K,NaN,DIFFUSE,CV,2021-01-12 14:39:00,GAMMES VALIDEES AUBERT & DUVAL LES ANCIZES ML3...

In [1322]:
neptune_df.iloc[:2, :2] = "..."
neptune_df.head()

,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
2,...,...,B,NaN,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM
3,...,...,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...
5,6,NaN,K,NaN,DIFFUSE,CAFM,2021-01-12 14:34:00,LISTE DES GAMMES VALIDEES ML340 DMD0302-20 MAT...
6,7,NaN,K,NaN,DIFFUSE,CV,2021-01-12 14:39:00,GAMMES VALIDEES AUBERT & DUVAL LES ANCIZES ML3...

In [1323]:
_:DataFrame = neptune_df.drop(columns=["Date"])
_

,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Titre
2,...,...,B,NaN,DIFFUSE,485,Éprouvette suivi fusion FA LBM
3,...,...,C,NaN,DIFFUSE,DT,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,5,NaN,J,NaN,DIFFUSE,DT,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...
5,6,NaN,K,NaN,DIFFUSE,CAFM,LISTE DES GAMMES VALIDEES ML340 DMD0302-20 MAT...
6,7,NaN,K,NaN,DIFFUSE,CV,GAMMES VALIDEES AUBERT & DUVAL LES ANCIZES ML3...
...,...,...,...,...,...,...,...
76,77,NaN,E,NaN,DIFFUSE,485,EPROUVETTE DE CISAILLEMENT VNOTCH TYPE ASTM D ...
77,78,NaN,AK,NaN,DIFFUSE,DT,Marquage des articles - Règles générales de ma...
78,79,NaN,H,NaN,DIFFUSE,DT,TECHNIQUES DE POSE DE LA PRISE DES MSESURES DE...
79,80,NaN,A,NaN,DIFFUSE,MDD,Exigences techniques pour articles de fournitu...
80,81,NaN,J,NaN,DIFFUSE,DT,TECHNIQUES DE BRANCHEMENT DES MESURES DE TEMPE...

In [1324]:
_:DataFrame = neptune_df.drop(columns=["Pg Doc", "Pg AMN"])
_

,ID,Indice,Etat Doc.,Famille,Date,Titre
2,...,B,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM
3,...,C,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...
4,5,J,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...
5,6,K,DIFFUSE,CAFM,2021-01-12 14:34:00,LISTE DES GAMMES VALIDEES ML340 DMD0302-20 MAT...
6,7,K,DIFFUSE,CV,2021-01-12 14:39:00,GAMMES VALIDEES AUBERT & DUVAL LES ANCIZES ML3...
...,...,...,...,...,...,...
76,77,E,DIFFUSE,485,2021-04-06 14:31:00,EPROUVETTE DE CISAILLEMENT VNOTCH TYPE ASTM D ...
77,78,AK,DIFFUSE,DT,2021-04-07 09:55:00,Marquage des articles - Règles générales de ma...
78,79,H,DIFFUSE,DT,2021-04-08 09:37:00,TECHNIQUES DE POSE DE LA PRISE DES MSESURES DE...
79,80,A,DIFFUSE,MDD,2021-04-13 18:35:00,Exigences techniques pour articles de fournitu...
80,81,J,DIFFUSE,DT,2021-04-14 14:02:00,TECHNIQUES DE BRANCHEMENT DES MESURES DE TEMPE...

In [1325]:
_:DataFrame = neptune_df.drop([2, 3])
_

,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre
4,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...
5,6,NaN,K,NaN,DIFFUSE,CAFM,2021-01-12 14:34:00,LISTE DES GAMMES VALIDEES ML340 DMD0302-20 MAT...
6,7,NaN,K,NaN,DIFFUSE,CV,2021-01-12 14:39:00,GAMMES VALIDEES AUBERT & DUVAL LES ANCIZES ML3...
7,8,NaN,AS,NaN,DIFFUSE,CAFM,2021-01-13 08:08:00,LISTE DES GAMMES VALIDEES RENE 125 DMD0429-32 ...
8,9,NaN,K,NaN,DIFFUSE,CV,2021-01-13 08:11:00,GAMMES VALIDEES CANNON MUSKEGON RENE 125 DMD04...
...,...,...,...,...,...,...,...,...
76,77,NaN,E,NaN,DIFFUSE,485,2021-04-06 14:31:00,EPROUVETTE DE CISAILLEMENT VNOTCH TYPE ASTM D ...
77,78,NaN,AK,NaN,DIFFUSE,DT,2021-04-07 09:55:00,Marquage des articles - Règles générales de ma...
78,79,NaN,H,NaN,DIFFUSE,DT,2021-04-08 09:37:00,TECHNIQUES DE POSE DE LA PRISE DES MSESURES DE...
79,80,NaN,A,NaN,DIFFUSE,MDD,2021-04-13 18:35:00,Exigences techniques pour articles de fournitu...
80,81,NaN,J,NaN,DIFFUSE,DT,2021-04-14 14:02:00,TECHNIQUES DE BRANCHEMENT DES MESURES DE TEMPE...

In [1326]:
neptune_df_5["ID"].describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
Name: ID, dtype: float64

In [1327]:
neptune_df_5["Date import"].mean()

Timestamp('2021-05-08 00:58:26.200000')

In [1328]:
new_neptune_df = neptune_df_5
new_neptune_df["ID negatif"] = -1 * new_neptune_df["ID"]
new_neptune_df

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre,ID negatif
0,2021-05-28 22:27:08,...,1,NaN,...,NaN,...,...,2021-01-05 09:08:00,...,-1
1,2021-05-28 22:27:11,...,2,NaN,...,NaN,...,...,2021-01-05 09:12:00,...,-2
2,2021-04-19 15:51:06,...,3,NaN,B,NaN,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM,-3
3,2021-04-26 08:03:23,...,4,NaN,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...,-4
4,2021-04-26 08:03:23,...,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...,-5

In [1329]:
new_neptune_df["ID negatif"] = 1

In [1330]:
new_neptune_df["timestamp"] = new_neptune_df["Date"].apply(lambda x:x.timestamp()) / 1_000_000
new_neptune_df

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre,ID negatif,timestamp
0,2021-05-28 22:27:08,...,1,NaN,...,NaN,...,...,2021-01-05 09:08:00,...,1,1609.83768
1,2021-05-28 22:27:11,...,2,NaN,...,NaN,...,...,2021-01-05 09:12:00,...,1,1609.83792
2,2021-04-19 15:51:06,...,3,NaN,B,NaN,DIFFUSE,485,2021-01-06 10:51:00,Éprouvette suivi fusion FA LBM,1,1609.93026
3,2021-04-26 08:03:23,...,4,NaN,C,NaN,DIFFUSE,DT,2021-01-06 17:43:00,TECHNIQUES DE POSE DES CAPTEURS CAPACITIFS ET ...,1,1609.95498
4,2021-04-26 08:03:23,...,5,NaN,J,NaN,DIFFUSE,DT,2021-01-12 12:51:00,TECHNIQUES DE BRANCHEMENT DES CONNECTEURS SPEC...,1,1610.45586

In [1331]:
new_neptune_df["Date"].apply(lambda x:[111, "AAA"])

0    [111, AAA]
1    [111, AAA]
2    [111, AAA]
3    [111, AAA]
4    [111, AAA]
Name: Date, dtype: object

In [1332]:
new_neptune_df.apply(lambda x:[111, "AAA"], result_type='expand')

,Date import,Référence,ID,Pg AMN,Indice,Pg Doc,Etat Doc.,Famille,Date,Titre,ID negatif,timestamp
0,111,111,111,111,111,111,111,111,111,111,111,111
1,AAA,AAA,AAA,AAA,AAA,AAA,AAA,AAA,AAA,AAA,AAA,AAA

In [1333]:
new_neptune_df[["Date", "ID"]].describe()

             ID
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [1334]:
new_neptune_df[["Date import", "Date"]].describe()

<ipython-input-1334-10f8e39d458d>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  new_neptune_df[["Date import", "Date"]].describe()

                Date import                 Date
count                     5                    5
unique                    4                    5
top     2021-04-26 08:03:23  2021-01-05 09:08:00
freq                      2                    1
first   2021-04-19 15:51:06  2021-01-05 09:08:00
last    2021-05-28 22:27:11  2021-01-12 12:51:00

In [1335]:
# new_neptune_df[["Date Import", "Date"]]

In [1336]:
new_neptune_df[["ID", "timestamp"]].describe()

             ID    timestamp
count  5.000000     5.000000
mean   3.000000  1610.003340
std    1.581139     0.258486
min    1.000000  1609.837680
25%    2.000000  1609.837920
50%    3.000000  1609.930260
75%    4.000000  1609.954980
max    5.000000  1610.455860

In [1337]:
new_neptune_df[["ID", "timestamp"]].mean()

ID              3.00000
timestamp    1610.00334
dtype: float64

In [1338]:
new_neptune_df[["ID", "timestamp"]].median()

ID              3.00000
timestamp    1609.93026
dtype: float64

In [1339]:
new_neptune_df.agg({"timestamp": ["min", "max", "median", "skew"]})

          timestamp
min     1609.837680
max     1610.455860
median  1609.930260
skew       2.004546

In [1342]:
new_neptune_df.agg({"timestamp": ["min", "max", "median", "skew"]})

          timestamp
min     1609.837680
max     1610.455860
median  1609.930260
skew       2.004546

In [1348]:
data_frame_A["Age"].mean()

42.8

In [1350]:
data_frame_A.groupby("Sex").mean()

         Age
Sex
female  35.0
male    48.0

In [1343]:
data_frame_A.groupby("Sex")["Age"].mean()

Sex
female    35.0
male      48.0
Name: Age, dtype: float64

In [ ]:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html
pd.date_range(start="2018-09-09", end="2020-02-02").to_pydatetime().tolist()

In [ ]:
def csv_to_df(csv_file, sep=";"):
    return pd.read_csv(csv_file, sep=sep)